<div class="form-content">
  <div class="form-content-inner">
    <br>
    <br>
    <%= form_for @player do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
